<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="shell__nav">
    <div class="brand">
      <div class="brand__mark">IC</div>
      <div>
        <div class="brand__title">ClaimIntel</div>
        <div class="brand__subtitle">Insurance Document RAG</div>
      </div>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.path === '/dashboard' }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shell__toolbar">
      <span>Insurance Claims Document Intelligence</span>
    </mat-toolbar>
    <main class="shell__content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
